html,
body {
  margin: 0;
  padding: 16px;
  background: #242424;
  color: white;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

h1 {
  margin: 16px 0;
  color: white;
}

#back-button {
  cursor: pointer;
}
